@font-face {
  font-family: gyparody;
  src: url(gyparody/gyparody.ttf);
}
* {
  font-family: 'gyparody', 'Roboto', sans-serif;
  box-sizing: border-box;
  background-color: #060CE9;
}
.answers {
  border: 1px solid black;
  margin: 0px auto;
  width: 10vw;
  height: 6vh;
  text-align: center;
  font-weight: 100;
  font-size: 1rem;
  padding-top: 1%;
  margin-top: 1%;
  padding-bottom: 1.5%;
}
button {
  background-color: #A4DFDA;
  display: block;
  position: relative;
  top: 200px;
  border-radius: 20px;
  outline: none;
  font-weight: bold;
  color: #020B22;
}
p {
  padding-top: 2%;
  text-align: center;
  font-size: 2em;
  font-weight: 100;
  color: #F6F4D2;
}
a {
  text-decoration: none;
  color: #A4DFDA;
}
h1{
  text-align: center;
 font-size: 4em;
 background: -webkit-linear-gradient(#FAE9CE, #E1925C);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
.start {
  position: absolute;
  font-size: 3em;
  top: 50%;
  left: 45%;
}
.set{
  display: none;
  position: absolute;
  font-size: 2em;
  top: 50%;
  left: 45%;
}
.go{
  display: none;
  position: absolute;
  font-size: 3em;
  top: 50%;
  left: 45%;
}
